<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skolarbete</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}?v=1">
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
</head>
<body class="dark-mode">
    <header>
        <div class="back-button-container">
            <button class="back-button" onclick="history.back()">
                <img src="{{ url_for('static', filename='media/back.png') }}">
            </button>
        </div>
        <h1>
            <span class="special-char">~/</span>
            Skolarbete
            <span class="special-char">/</span>
            Webbutveckling
        </h1>
    </header>
    <div class="button-container">
        <form method="POST" action="/skolarbete/webbutveckling/html-intro">
            <button type="submit">
                <img src="{{ url_for('static', filename='media/html5.png') }}" width="80" height="80">
                <p>HTML Uppgifter</p>
            </button>
        </form>
        <form method="POST" action="/skolarbete/webbutveckling/css-intro">
            <button type="submit">
                <img src="{{ url_for('static', filename='media/css.png') }}" width="80" height="80">
                <p>CSS Uppgifter</p>
            </button>
        </form>
        <form method="POST" action="/skolarbete/webbutveckling/inlamningar">
            <button type="submit">
                <img src="{{ url_for('static', filename='media/folder.png') }}" width="80" height="80">
                <p>Inlämningar</p>
            </button>
        </form>
        <form method="POST" action="/skolarbete/webbutveckling/wordpress">
            <button type="submit">
                <img src="{{ url_for('static', filename='media/folder.png') }}" width="80" height="80">
                <p>Wordpress</p>
            </button>
        </form>
    </div>
</body>
</html>
