<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LDR Song Ranking</title>
    <link rel="stylesheet" href="/static/ldr-rating.css?v=1">
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
</head>
<body class="dark-mode">
    <header>
        <div class="back-button-container">
            <button class="back-button" onclick="history.back()">
                <img src="{{ url_for('static', filename='media/back.png') }}">
            </button>
        </div>
        <h1>
            <span class="special-char">~/</span>
            Lana Del Rey Song Ranking
        </h1>
    </header>
    <main>
        <div id="song-container">
        </div>
        <div id="result-container">
            <h2>Your Ranked Songs:</h2>
            <ol id="ranked-songs">
            </ol>
        </div>
    </main>
    <script src="/static/ldr-rating.js"></script>
</body>
</html>