.fourhundred{
    width: 400px;
    background-color: #BDB76B;
    margin-top: 0.2rem;
}

.box1{
    background-color: #87CEFA;
    width: 200px;
    padding: 1.5rem;
    border: 1.5rem solid black;
}

.box2{
    background-color: #FFA07A;
    display: inline-block;
    padding:2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border:0.5rem solid blue;
    margin: 0.6rem;
}