<div class="bottom-bar">
    <div class="bottom-bar-image-container">
        <img class="bottom-bar-img" src="/assets/img/logo.png" alt="Logo">
    </div>

    <div class="contact-container">
        <ul class="contact-list">
            <li>
                <h2>Kontakta oss</h2>
            </li>
            <li>
                <p>
                    <img class="contact-icon" src="/assets/icons/phone-icon.png" alt="Phone">
                    +46 012-345 67 89
                </p>
            </li>
            <li>
                <p>
                    <img class="contact-icon" src="/assets/icons/mail-icon.png" alt="Mail">
                    contact@mexicocity.se
                </p>
            </li>
        </ul>
    </div>

    <div class="policy-container">
        <ul class="policy-list">
            <li>
                <h2>Policy</h2>
            </li>
            <li>
                <a href="#">Integritetspolicy</a>
            </li>
            <li>
                <a href="#">Cookiepolicy</a>
            </li>
        </ul>
    </div>
</div>
