<ul class = "navigation-bar-ul">
    <li class = "icon-li">
        <img  class = "navigation-bar-icon"src="{{ url_for('static', filename='turistsida-static/assets/img/logo.png') }}" alt="Logo">
    </li>
    <li class = "navigation-bar-li">
        <a href="/skolarbete/webbutveckling/inlamningar/turistsida">Hem</a>
    </li>
    <li class = "navigation-bar-li">
        <a href="/skolarbete/webbutveckling/inlamningar/turistsida/se-och-gora">Se och göra</a>
    </li>
    <li class = "navigation-bar-li">
        <a href ="/skolarbete/webbutveckling/inlamningar/turistsida/information">Information</a>
    </li>
    <li class = "navigation-bar-li">
        <a href="/skolarbete/webbutveckling/inlamningar/turistsida/mat-och-dryck">Mat och dryck</a>
    </li>
</ul>