<ul class = "navigation-bar-ul">
    <li class = "icon-li">
        <img  class = "navigation-bar-icon"src="../assets/img/logo.png" alt="Logo">
    </li>
    <li class = "navigation-bar-li">
        <a href ="../index.html">Hem</a>
    </li>
    <li class = "navigation-bar-li">
        <a href="../Se-och-gör/Se-och-gör.html">Se och göra</a>
    </li>
    <li class = "navigation-bar-li">
        <a href ="../Information/information.html">Information</a>
    </li>
    <li class = "navigation-bar-li">
        <a href= "../Mat och dryck/mat-och-dryck.html">Mat och dryck</a>
    </li>
</ul>